* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Sarala', sans-serif;
}

.background {
	min-height: 80vh;
	background-image: url(./Images/Cinematic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.containerbg {
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 100vh;
}

.background1 {
	min-height: 80vh;
	background-image: url(./Images/background1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.containerbg1 {
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 100vh;
}

#landing {
	padding-top: 5%;
}

.social-links {
  margin-top: 11px;
}

.social-links a {
  font-size: 35px;
  display: inline-block;
  color: #FF0000;
  line-height: 1;
  margin-right: 10px;
  transition: 0.3s;
  padding-left: 8px;


}

.social-links a:hover {
  color: #0563bb;
} 

#italic {
	font-style: italic;
}

#back {
	text-decoration: underline;
}

#work {
	text-decoration: underline;
}

/*Footer*/
#footer {
  background: #eef4eb;
  position:relative;
  text-align:center;
  /*background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);*/
  color: #45505b;
  font-size: 15px;
}
.copyright{
  background: white;
}

/*back to top*/
#backtop{
  visibility:hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}
#backtop a{
  color: #45505b;
  padding: 10px 20px;
  margin-bottom: 8px;
  border-radius: 50px;
  background: #f2f3f5;
}
#backtop a:hover{
  color: #fff;
  background: #0677e1;
}
#backtop:hover{
  animation: wobble 1s ease;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 546px) {
  .waves {
    height:20px;
    min-height:20px;
  }
}
/*Animation*/
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}